#include<windows.h>
#include"MyDialog.h"

MyBitmap BITMAP "Start.bmp"
MyIcon ICON "TonyStark.ico"
MyDialog DIALOG DISCARDABLE 0,0,685,390
STYLE WS_POPUP//WS_CAPTION|WS_THICKFRAME
//CAPTION "Final Project"

BEGIN

	


	//Physics

	GROUPBOX "",ID_GBPHY,5,5,320,160,BS_GROUPBOX

	LTEXT "Enter Mass of Object 1:",-1,15,30,80,20
	EDITTEXT ID_ETMASS1,100,30,60,10,WS_TABSTOP
	LTEXT "Enter Mass of Object 2:",-1,170,30,80,20
	EDITTEXT ID_ETMASS2,260,30,60,10,WS_TABSTOP
	LTEXT "Enter Distance Between Thier Centers:",-1,60,50,140,20
	EDITTEXT ID_ETDIS,200,50,60,10

	LTEXT "Find ?:",-1,50,70,30,20
	AUTORADIOBUTTON "Force (m/S)",ID_RBFORCE,100,70,50,10,WS_TABSTOP
	AUTORADIOBUTTON "Gravity (m/S)",ID_RBGRAVITY,180,70,55,10

	LTEXT ""ID_FORCEFormula,15,85,60,30

	CTEXT "",ID_STFORCE,90,90,50,15
	CTEXT "Enter Gravity B/w Them",ID_STGRAVITY,170,90,50,15

	LTEXT "",ID_GravityFormula,250,85,60,30

	EDITTEXT ID_ETFORCE,90,120,50,10,WS_TABSTOP
	EDITTEXT ID_ETGRAVITY,170,120,50,10,WS_TABSTOP

	PUSHBUTTON "Reset", ID_PBRESET, 30, 140, 50, 15, WS_TABSTOP
	PUSHBUTTON "Find",ID_PBFIND,130,140,60,15,WS_TABSTOP
	PUSHBUTTON "Exit",ID_PBCANCLE,240,140,60,15


	//Chemistry

	GROUPBOX "",ID_GBCHEM,330,5,345,175,BS_GROUPBOX
	LTEXT "Find Effieiency By Using :",ID_STFIND,340,15,100,10
	AUTORADIOBUTTON "Temperture",ID_RBTEMP,440,15,50,10,WS_TABSTOP
	AUTORADIOBUTTON "Heat",ID_RBHEAT,510,15,50,10
	AUTORADIOBUTTON "WorkDone",ID_RBWD,565,15,50,10

	
	LTEXT "",ID_STINFO,360,30,310,40

	LTEXT "n = ",-1,340,90,20,10
	EDITTEXT ID_ETt2q2,360,80,50,10
	CTEXT "---",-1,415,80,15,10
	EDITTEXT ID_ETt1q1,435,80,50,10
	CTEXT "--------------------------------------------------------------------",-1,360,90,125,10
	EDITTEXT ID_ETDt2q2,400,100,50,10

	LTEXT "n = ",-1,540,90,20,10
	CTEXT "----------------------------------------------", -1,560, 90, 60, 10
	EDITTEXT ID_ETWD,565,80,50,10
	EDITTEXT ID_ETq2,565,100,50,10

	LTEXT "",ID_STEQU,350,120,150,30
	LTEXT "",ID_STANS,510,120,100,30
	
	PUSHBUTTON "Find",ID_PBFINDChem,470,155,60,15
	PUSHBUTTON "RESET",ID_PBRESETChem,360,155,60,15
	PUSHBUTTON "EXIT",ID_PBEXITChem,580,155,60,15


	//Maths

	GROUPBOX "",ID_GBMATH,5,180,670,200
	LTEXT "Enter 1st Complex Number in the form  [Z=A+Bi] = (RealNumber)+(ImaginaryNumber) i     = ",-1,10,195,300,10
	EDITTEXT ID_ETReal1,320,195,40,10
	CTEXT "+",-1,370,195,10,10
	EDITTEXT ID_ETImg1,385,195,40,10
	CTEXT "i",-1,430,195,10,10
	LTEXT "",ID_Eq1,500,195,170,10

	LTEXT "Enter 2nd Complex Number in the form  [Z=A+Bi] = (RealNumber)+(ImaginaryNumber) i    = ", -1, 10, 215, 300, 10
	EDITTEXT ID_ETReal2, 320, 215, 40, 10
	CTEXT "+", -1, 370, 215, 10, 10
	EDITTEXT ID_ETImg2, 385, 215, 40, 10
	CTEXT "i", -1, 430, 215, 10, 10
	LTEXT "",ID_Eq2, 500, 215, 170, 10

	CTEXT "What You Want to Do With These 2 Complex Numbers?",-1,210,235,200,10

	AUTOCHECKBOX "Addition Of Complex Numbers",ID_CBADD,10,255,150,10
	LTEXT "",ID_Add,10,275,150,30
	GROUPBOX "Answer: Addition",-1,8,305,160,51
	LTEXT "",ID_ansADD,10,315,150,40


	AUTOCHECKBOX "Sutraction Of Complex Numbers",ID_CBSUB,180,255,150,10
	LTEXT "",ID_Sub, 180, 275, 150, 30
	GROUPBOX "Answer: Subtraction", -1, 175, 305, 160, 51
	LTEXT "",ID_ansSUB,180,315,150,40
	
	AUTOCHECKBOX "Multiplication Of Complex Numbers",ID_CBMUL, 350,255,150,10
	LTEXT "",ID_Mul, 350, 275, 150, 30
	GROUPBOX "Answer: Multiplication", -1, 345, 305, 160, 51
	LTEXT "",ID_ansMUL,350,315,150,40
	
	AUTOCHECKBOX "Division Of Complex Numbers",ID_CBDIV, 520,255,150,10
	LTEXT "",ID_Div, 520, 275, 150, 50
	GROUPBOX "Answer: Division", -1, 515, 325, 158, 51
	LTEXT "",ID_ansDIV,520,335,150,40

	PUSHBUTTON "Reset",ID_PBResetMath,140,360,60,15
	PUSHBUTTON "Exit",ID_PBExitMath,310,360,60,14
	
	PUSHBUTTON "Your Complex Number",ID_PBGET,510,235,100,10

		AUTORADIOBUTTON "Physics : Law Of Attraction", ID_PHY, 10, 5, 100, 10, WS_TABSTOP
		AUTORADIOBUTTON "Chemistry : Carnot Cycle", ID_CHEM, 335, 5, 95, 10, WS_TABSTOP
		AUTORADIOBUTTON "Maths : Complex Numbers", ID_MATH, 10, 180, 100, 10
END
